.register {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 20% 80%;
  justify-content: center;
  &__title {
    cursor: pointer;
    font-size: 1.2em;
    grid-row: 1/2;
    align-self: end;
    justify-self: center;
    color: $fontColor-title;
    font-weight: 600;
    @media (min-width: 150px) {
      font-size: 2.5em;
    }
  }
  &__container {
    display: flex;
    grid-row: 2/3;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px 5px;
    align-items: center;
    input {
      padding: 10px 5px;
      border-radius: 5px;
      width: 100%;
      border: 0;
      margin-top: 20px;
      &:nth-child(2) {
        margin-top: 35px;
      }
    }

    label:nth-of-type(3) {
      position: relative;
      width: 100%;
    }
    input[type="submit"] {
      width: 90%;
      background-color: $bg-button;
      color: $fontColor-title;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
    .image_container {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 0;
      bottom: -50px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .modal {
    background: red;
  }
  .btnOpen {
    pointer-events: all;
    opacity: 1;
  }
  .btnClose {
    pointer-events: none;
    opacity: 0.5;
  }
  .errorRegister {
    color: $fontColor-error;
    font-weight: 600;
  }
}
